/* ===========common css */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #080808;
    --secondary-color: #f8f8f8;
    --third-color: #F2F3F9;
    --green-color: #10AC84;
}

.dark_theme {
    --primary-color: #f8f8f8;
    --secondary-color: #191524;
    --third-color: #1f1e32;
    --green-color: #FF0066;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    background: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    transition: .4s;
}


.center {
    justify-content: center;
}

.pragrath {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--primary-color);
}

.headding {
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
}

.typed-cursor {
    color: var(--green-color);
}

.sub_headding {
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
}

.neno_sub_headding {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
}

.greenbg {
    background: var(--green-color);
}

.greenfont {
    color: var(--green-color);
}


/* ===== greenBtn with hover effect */

.greenbtn {
    display: inline-block;
    /* width: 175px;
    height: 50px; */
    padding: 5px 20px;
    line-height: 50px;
    background: var(--green-color);
    text-align: center;
    color: var(--secondary-color);
    border-radius: 12px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .4s;
    overflow: hidden;
    position: relative;
}

.greenbtn::before {
    position: absolute;
    bottom: 13px;
    left: -100%;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.281);
    transform: rotate(-50deg);
    transition: .4s;
}

.greenbtn:hover::before {
    left: 100%;
}

.greenbtn::after {
    position: absolute;
    bottom: 13px;
    left: -100%;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.281);
    transform: rotate(-50deg);
    transition: .2s;
}

.greenbtn:hover:after {
    left: 100%;
}

.greenbtn i {
    font-size: 18px;
    transition: .4s;
}

.greenbtn:hover i {
    transform: translateX(5px);
}

.greenbtn:hover {
    color: var(--secondary-color);
    transform: translateY(-4px);
}

/* ===== greenBtn with hover effect */

.tittle {
    text-align: center;
    margin-bottom: 50px;
}

.head_tittle {
    font-size: 35px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
}

.sub_tittle {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
}

.tittle p {
    position: relative;
    display: inline-block;
}

.tittle p::before {
    position: absolute;
    top: 50%;
    left: -30px;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--green-color);
    transform: translateY(-50%);
}

.tittle p::after {
    position: absolute;
    top: 50%;
    right: -30px;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--green-color);
    transform: translateY(-50%);
}

/* ===========common css */






/* ============= nav start here */

.navbar {
    transition: .5s !important;
    position: fixed !important;
    width: 100%;
    z-index: 9999;
}

.navbar .navbar-brand img {
    transition: .5s;
    width: 100%;
    display: block;
}


.navbar ul li a {
    font-size: 20px;
    margin: 0 10px;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
    transition: .4s;
}

.navbar ul li .active {
    color: var(--green-color);
}

.navbar ul li a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--green-color);
    border-radius: 5px;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar ul li a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70%;
    content: "";
    height: 2px;
    background: var(--green-color);
    border-radius: 5px;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar ul li a:hover {
    color: var(--green-color);
}

.navbar ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li .active::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li .active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar .dark_btn i {
    font-size: 18px;
    color: var(--secondary-color);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 50%;
    transform: rotate(-35deg);
    cursor: pointer;
}


.fixedMenu {
    box-shadow: 0px 2px 21px 13px rgba(138, 97, 97, 0.10);
    background: var(--secondary-color);
}

.fixedMenu {}

.fixedMenu .navbar-brand img {
    width: 80%;
    margin: 0 auto !important;
}

.fixedMenu .navbar-brand {
    padding: 0 !important;
}

.fixedMenu ul li a {
    margin: 0 8px;
}

.fixedMenu ul li a {
    font-size: 18px;
}

.port_page .navbar ul {
    padding-right: 125px;
}

/* ============= nav end here */




/* ============= hero start here */

#banner_hero {
    padding: 250px 0 100px;
    position: relative;
}

#banner_hero ul {
    text-align: center;
    padding-top: 60px;
}
.hero_s_icon i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: var(--green-color);
    text-align: center;
    color: var(--secondary-color);
    margin: 10px 0;
}

.rotate {
    transition: .2s;
}

.rotate:hover {
    transform: rotate(360deg);
}

.scroll_down {
    position: absolute;
    left: 50%;
    bottom: -30px;
    text-align: center;
    animation: myScroll 4.5s infinite linear;
    transform: translateX(-50%);
}


@keyframes myScroll {
    0% {
        right: 0px;
        bottom: 20px;
    }

    25% {
        bottom: 5px;
        right: 0px;
    }

    50% {
        right: 0px;
        bottom: 20px;
    }

    75% {
        bottom: 5px;
        right: 0px;
    }

    100% {
        right: 0px;
        bottom: 20px;
    }
}

.scroll_down a {
    display: inline-block;
    font-size: 16px;
    transition: .4s;
}

.scroll_down a:hover {
    color: var(--primary-color);
    transform: translateY(5px);
}

.scroll_down a i {
    margin-left: 10px;
}

#port_page h4 {
    font-size: 45px;
    text-align: center;
}

.port_page #banner_hero {
    padding: 120px 0 0;
}

/* ============= hero end here */



/* ============= about start here */

#about_section {
    padding: 100px 0 40px;
}

.about_img {
    border-radius: 25px;
    overflow: hidden;
}

.about_img img {
    width: 100%;
}

#about_section .pragrath span {
    display: block;
}

.about_item_parent {
    display: flex;
}

.about_item {
    text-align: center;
    width: 85px;
}

.about_item span {
    display: block;
}

/* ============= about end here */



/* ============= skills start here */

#skills_section {
    padding: 100px 0 0;
}

#skills_section .item h2 img {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
}

#skills_section .item h2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 80px;
    position: relative;
    margin-bottom: 30px;
}

#skills_section .accorion-item h2 .neno_sub_headding {
    display: block;
    width: 100%;
    margin-top: 15px;
}

#skills_section .item h2 .pragrath {
    display: block;
    width: 100%;
    font-size: 16px;
}

.skills_bar {
    padding-left: 20px;
}
.proggress {
    background-color: var(--green-color) !important;
}

/* ============= skills end here */




/* ============= service start here */

#services {
    padding: 100px 0 40px;
}

#services .slide_item {
    /* width: 280px !important; */
    padding: 50px 0 40px;
    background: var(--third-color);
    border-radius: 8px;
    text-align: center;
    margin: 25px 50px;
    transition: .4s;
    overflow: hidden;
    position: relative;
}

#services .slide_item .shape {
    position: absolute;
    top: -50px;
    left: -88px;
    width: 200px;
    height: 100px;
    background: var(--green-color);
    transform: rotate(-45deg);
    transition: .5s;
    opacity: 1;
}

#services .slide_item img {
    margin: 0 auto;
}

#services .slide_item p span {
    display: block;
}

#services .slide_item .pragrath {
    font-size: 15px;
    transition: .5s;
    cursor: pointer;

}

#services .slide_item:hover {
    filter: drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.1));
}

#services .slide_item:hover h4 {
    color: var(--green-color);
}

#services .view:hover {
    transform: scale(1.1);
    color: var(--green-color);
    text-decoration: underline;
}

/* ---slick slider */
#services .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#services .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

#services .slick-dots li button {
    font-size: 0;
    border: none;
    width: 10px;
    height: 5px;
    background: #DADCE5;
    transition: .6s;
}

#services .slick-dots .slick-active button {
    width: 25px;
    background: var(--green-color);
}

/* ---slick slider */

/* -------- service popup */

#service_pop {
    width: 100%;
    height: 100vh;
    background: #00000059;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 99999;
    transform: scale(0);
}

#service_pop .item {
    width: 365px;
    height: 275px;
    border-radius: 25px;
    background: var(--third-color);
    position: relative;
}

#service_pop .greenbtn {
    padding: 15px 14px;
    line-height: 0px;
    border-radius: 8px;
    font-size: 15px;
}

#service_pop .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: var(--primary-color);
    cursor: pointer;
}

/* ============= service end here */




/* ============= portfolio end here */

#portfolio {
    padding: 100px 0 40px;
    text-align: center;
}

.port_item {
    margin: 20px;
    border: 5px solid var(--green-color);
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* overflow: hidden; */
    position: relative;
    transition: .5s;
    cursor: pointer;
    height: 230px;
}

.port_headding {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--green-color);
    width: 100%;
    padding: 5px 0;
    color: var(--secondary-color);
    font-size: 22px;
}

/* ---images link */
.port_item .img_1 {
    background: url(../images/portf/port_01.png);
}

.port_item .img_2 {
    background: url(../images/portf/port_02.png);
}

.port_item .img_3 {
    background: url(../images/portf/port_03.png);
}

.port_item .img_4 {
    background: url(../images/portf/port_04.png);
}

.port_item .img_7 {
    background: url(../images/portf/port_05.png);
}

.port_item .img_8 {
    background: url(../images/portf/port_06.png);
}

.port_item .img_9 {
    background: url(../images/portf/port_07.png);
}

.port_item .img_10 {
    background: url(../images/portf/port_08.png);
}

.port_item .img_11 {
    background: url(../images/portf/port_09.png);
}

.port_item .img_12 {
    background: url(../images/portf/port_10.png);
}

.port_item .img_6 {
    background: url(../images/portf/port_11.png);
}

.port_item .img_5 {
    background: url(../images/portf/sho.png);
}

/* ---images link */



.port_item .img_bg {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.port_item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.port_item .overlay .greenbtn {
    padding: 10px 14px;
    line-height: 0px;
    border-radius: 8px;
    font-size: 15px;
}

.port_item .overlay .greenbtn i {
    font-size: 12px;
}

.port_item:hover .img_bg {
    background-position: bottom;
}

.port_item:hover .overlay {
    opacity: 1;
}

/* ---slick slider */
#portfolio .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#portfolio .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

#portfolio .slick-dots li button {
    font-size: 0;
    border: none;
    width: 10px;
    height: 5px;
    background: #DADCE5;
    transition: .6s;
}

#portfolio .slick-dots .slick-active button {
    width: 25px;
    background: var(--green-color);
}

/* ---slick slider */

.port_page #portfolio {
    padding: 0 0 30px;
}

/* ============= portfolio end here */


/* ============= new_project end here */

#new_project {
    padding: 30px 0;
}

#new_project img {
    width: 100%;
}

#new_project .contant {
    width: 840px;
    border-radius: 15px;
    background: var(--green-color);
}

#new_project .contant .pragrath {
    font-size: 15px;
    color: var(--secondary-color);
}

#new_project .contant .greenbtn {
    color: var(--green-color);
    background: var(--secondary-color);
    padding: 5px 14px;
    line-height: 30px;
    border-radius: 8px;
}

#new_project .text {
    width: 80%;
}

#new_project .img {
    width: 20%;
}

/* ============= new_project end here */




/* ============= contact_me end here */

#contact_me {
    padding: 100px 0 40px;
}

#contact_me .cont {
    font-size: 16px;
    color: var(--primary-color);
}

#contact_me a {
    position: relative;
    display: inline-block;
    padding-left: 60px;
}

#contact_me a i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: var(--primary-color);
    transition: .4s;
}

#contact_me a span {
    display: block;
    transition: .4s;
}

#contact_me a:hover span {
    color: var(--green-color);
}

#contact_me a:hover i {
    left: 5px;
}

#contact_me form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#contact_me .item {
    position: relative;
    width: 48%;
    margin-bottom: 3%;
}

#contact_me .textarea {
    position: relative;
    width: 100%;
}

#contact_me label {
    position: absolute;
    top: 15px;
    left: 20px;
    color: var(--primary-color);
    z-index: 9;
    font-size: 14px;
}

#contact_me input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: var(--third-color);
    padding-left: 15px;
    border: none;
    font-size: 15px;
}


#contact_me textarea {
    width: 100%;
    height: 180px;
    resize: none;
    border-radius: 5px;
    background: var(--third-color);
    padding-left: 15px;
    padding-top: 15px;
    border: none;
    font-size: 15px;
}

#contact_me .greenbtn {
    padding: 0px 14px;
    line-height: 40px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

/* ============= contact_me end here */


footer {
    padding: 60px 0;
    background: var(--third-color);
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    transition: .5s;
}

footer ul li a:hover {
    color: var(--green-color);
    transform: translateY(-5px);
}


/* ===== back to top */

/*====================*/
/*-- Back to top --*/
/*====================*/
.back_to_top {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    font-size: 25px;
    background: var(--green-color);
    border-radius: 5px;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    width: 45px;
    height: 55px;
    animation: myBtn 5.5s infinite linear;
}


@keyframes myBtn {
    0% {
        right: 3rem;
        bottom: 4rem;
    }

    25% {
        bottom: 2rem;
        right: 3rem;
    }

    50% {
        right: 3rem;
        bottom: 4rem;
    }

    75% {
        bottom: 2rem;
        right: 3rem;
    }

    100% {
        right: 3rem;
        bottom: 4rem;
    }
}
/* ============= Preloader */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2f2c3d;
}

.spinner {
    position: absolute;
    top: 50%;
    /* centers the loading animation vertically one the screen */
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem;
    /* is width and height divided by two */
    text-align: center;
}

.spinner>div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--secondary-color);
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}